html {
	font-size:16px;
}
@media (max-width: 1280px) {
	html {
		font-size:36px;
	}
}
@media (max-width: 1080px) {
	html {
		font-size:32px;
	}
}
@media (max-width: 768px) {
	html {
		font-size:28px;
	}
}
@media (max-width: 640px) {
	html {
		font-size:24px;
	}
}
@media (max-width: 480px) {
	html {
		font-size:20px;
	}
}
@media (max-width: 384px) {
	html {
		font-size: 16px;
	}
}
@media (max-width: 320px) {
	html {
		font-size: 14px;
	}
}

@media (orientation: landscape) and (max-width: 1920px) {
	html {
		font-size: 36px;
	}
}
@media (orientation: landscape) and (max-width: 1280px) {
	html {
		font-size: 28px;
	}
}
@media (orientation: landscape) and (max-width: 1024) {
	html {
		font-size: 20px;
	}
}
@media (orientation: landscape) and (max-width: 800px) {
	html {
		font-size: 16px;
	}
}
@media (orientation: landscape) and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}
@media (orientation: landscape) and (max-width: 480px) {
	html {
		font-size: 12px;
	}
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:normal;
	font-weight:300;
	src:url("http://fast.fonts.net/dv2/3/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff?d44f19a684109620e4841470a690e818f50f15501a2e3740a21687bfe07361cc26e33f7b001980192bae3022e204de16a7802f95b0e93066bf9fad28eec570313cddb425c580854c087886d74b6eed4a8ea3e81e8e62ebd967fc27&projectId=bc33dc84-d06a-4331-86a7-01c6f1a8cdc6") format('woff');
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:italic;
	font-weight:300;
	src:url("http://fast.fonts.net/dv2/3/8e9ee02b-f337-4f13-ad6c-969d6d6536c8.woff?d44f19a684109620e4841470a690e818f50f15501a2e3740a21687bfe07361cc26e33f7b001980192bae3022e204de16a7802f95b0e93066bf9fad28eec570313cddb425c580854c087886d74b6eed4a8ea3e81e8e62ebd967fc27&projectId=bc33dc84-d06a-4331-86a7-01c6f1a8cdc6") format('woff');
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:normal;
	font-weight:400;
	src:url("http://fast.fonts.net/dv2/3/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff?d44f19a684109620e4841470a690e818f50f15501a2e3740a21687bfe07361cc26e33f7b001980192bae3022e204de16a7802f95b0e93066bf9fad28eec570313cddb425c580854c087886d74b6eed4a8ea3e81e8e62ebd967fc27&projectId=bc33dc84-d06a-4331-86a7-01c6f1a8cdc6") format('woff');
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:italic;
	font-weight:400;
	src:url("http://fast.fonts.net/dv2/3/5f0efe11-b07a-49fc-ab86-7af6152fa368.woff?d44f19a684109620e4841470a690e818f50f15501a2e3740a21687bfe07361cc26e33f7b001980192bae3022e204de16a7802f95b0e93066bf9fad28eec570313cddb425c580854c087886d74b6eed4a8ea3e81e8e62ebd967fc27&projectId=bc33dc84-d06a-4331-86a7-01c6f1a8cdc6") format('woff');
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:normal;
	font-weight:700;
	src:url("http://fast.fonts.net/dv2/3/14ff6081-326d-4dae-b778-d7afa66166fc.woff?d44f19a684109620e4841470a690e818f50f15501a2e3740a21687bfe07361cc26e33f7b001980192bae3022e204de16a7802f95b0e93066bf9fad28eec570313cddb425c580854c087886d74b6eed4a8ea3e81e8e62ebd967fc27&projectId=bc33dc84-d06a-4331-86a7-01c6f1a8cdc6") format('woff');
}
@font-face {
	font-family:"Helvetica Neue";
	font-style:italic;
	font-weight:700;
	src:url("http://fast.fonts.net/dv2/3/628a0837-f9e0-4b32-83c4-d99689b9da93.woff?d44f19a684109620e4841470a690e818f50f15501a2e3740a21687bfe07361cc26e33f7b001980192bae3022e204de16a7802f95b0e93066bf9fad28eec570313cddb425c580854c087886d74b6eed4a8ea3e81e8e62ebd967fc27&projectId=bc33dc84-d06a-4331-86a7-01c6f1a8cdc6") format('woff');
}
* {
	background-clip:border-box;
	background-origin:border-box;
	box-sizing:border-box;
		}
html, body {
	width:100%;
	height:100%;
	margin:0;
	-webkit-text-size-adjust:100%;
	overflow:hidden;
}
body {
	position:relative;
	background-color:#ccc;
	background-size:100% 100%;
	background-repeat:no-repeat;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	-webkit-user-select:none;
		}
input {
	-webkit-appearance:none;
}
.C9AppWindow, .C9AppView {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.C9AppWindow {
	display:none;
	background-color:#fff;
	z-index:2;
}
.C9Carousel {
	height:100%;
}
.C9CarouselPage {
	min-height:100%;
}
.C9CarouselPage {
	position:relative;
	float:left;
	overflow: hidden;
}
.C9ControlBar {
	position:absolute;
	left:0;
	width:100%;
	font-weight:700;
	text-align:center;
	color:rgb(70,70,70);
	background-color:rgb(235,235,235);
	-webkit-transform:translate3d(0px,0px,0px);
}
.C9ControlBar.top {
	top:0;
	height:4em;
	overflow:hidden;
	padding:.1em;
	background-position:0px 3.75em;
	box-shadow:inset rgba(0,0,0,.2) 0 -1px 0;
}
.C9ControlBar.bottom {
	bottom:0;
	height:4.5em;
	padding:.35em;
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,.2) 0%,rgba(0,0,0,.2) 20%,rgba(255,255,255,.2) 20%,rgba(255,255,255,.4) 80%,rgba(255,255,255,.55) 80%,rgba(255,255,255,.55) 100%);
	background-repeat:no-repeat;
}
.C9ControlBar, .C9CarouselBarIndicator {
	background-size:100% .25em;
	background-repeat:no-repeat;
}
.C9CarouselBar {
	display:-webkit-flex;
	display:flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	padding:0px;
	/*border-bottom:.25em solid rgb(255,126,0);*/
}
.C9ControlBar.top, .C9CarouselBarIndicator {
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.1) 0%,rgba(255,255,255,.1) 20%,rgba(0,0,0,.05) 20%,rgba(0,0,0,.1) 80%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.2) 100%);
}
.C9CarouselBarIndicator {
	position:absolute;
	top:3.5em;
	left:0;
	width:1px;
	height:.5em;
	background-color:rgb(255,126,0);
	background-position:0px .25em;
	-webkit-transform-origin:0 0;
}
.C9CarouselBar > a {
	color:rgb(70,70,70);
	-webkit-flex:1;
	flex:1;
	-webkit-box-flex:1;
	height:4em;
	padding:0 .7em;
	line-height:4em;
	text-align:center;
	font-weight:700;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-transform:uppercase;
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,.15) 0%,rgba(0,0,0,.15) 100%);
	background-repeat:no-repeat;
	background-position:0 50%;
	background-size:1px 50%;
}
.C9CarouselBar > a:first-child {
	background-image:none;
}
.C9ControlBar button {
	float:left;
	height:2.9em;
	line-height:2.7em;
	margin:.45em;
	padding:0 .8em;
	font-weight:700;
	font-size:inherit;
	color:rgb(70,70,70);
	text-shadow:rgba(255,255,255,.5) 0 1px 0;
	border:1px solid rgba(0,0,0,.25);
	background-color:rgba(0,0,0,0);
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.6) 0%,rgba(255,255,255,0) 100%);
	border-radius:.2em;
	box-shadow:
		inset rgba(255,255,255,.9) 0 1px 0,
		rgba(0,0,0,.1) 0 1px 0;
}
.C9ControlBar button svg {
	display:block;
	width:1.5em;
	height:1.5em;
}
.C9ControlBar button path {
	fill:rgb(70,70,70);
	/*filter:url(#d);*/
}
.C9ControlBar label {
	line-height:2.1em;
	font-size:1.7em;
	font-weight:700;
	text-shadow:rgba(255,255,255,.8) 0 1px 0;
}
.C9ControlBar button.active {
	text-shadow:rgba(255,255,255,.25) 0 1px 0;
	background-image:-webkit-linear-gradient(top,rgba(150,150,150,.85) 0%,rgba(150,150,150,.7) 100%);
	box-shadow:inset rgba(0,0,0,.1) 0 .15em .5em;
}
.C9ControlBar.transparent button {
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.5) 0%,rgba(255,255,255,.7) 100%);
	box-shadow:
		inset rgba(255,255,255,.4) 0 1px 0,
		rgba(0,0,0,.1) 0 1px 0;
}
.C9ControlBar.transparent button.active {
	box-shadow:inset rgba(0,0,0,.3) 0 .1em .5em;
}
.C9ControlBar.transparent button path {
	fill:#000;
}
/*.C9ControlBar.bottom .leftArrow, .C9ControlBar.bottom .rightArrow {
	position: relative;
	min-width:4.4em;
}
.C9ControlBar.bottom .leftArrow {
	border-radius:0 .2em .2em 0;
	border-left-width:0;
	padding-left:.4em;
}
.C9ControlBar.bottom .rightArrow {
	border-radius:.2em 0 0 .2em;
	border-right-width:0;
	padding-right:.4em;
}
.C9ControlBar.bottom .leftArrow:before, .C9ControlBar.bottom .rightArrow:before {
	display:block;
	position:absolute;
	top:-1px;
	border:1px solid rgba(0,0,0,.25);
	background-image:-webkit-linear-gradient(-45deg,rgb(250,250,250) 0%,rgb(238,238,238) 100%);
	height:2.19203102em;
	width:2.19203102em;
	box-sizing:border-box;
	content:'';
	z-index:-1;
	-webkit-transform:rotate(45deg);
}
.C9ControlBar.bottom .leftArrow:before {
	left:-1px;
	margin:.47em 0 0 -1.05em;
}
.C9ControlBar.bottom .rightArrow:before {
	right:-1px;
	margin:.47em -1.05em 0 0;
}
.C9ControlBar.bottom .leftArrow.active {
	box-shadow:inset rgba(0,0,0,.1) -.2em .2em .2em;
}
.C9ControlBar.bottom .leftArrow.active:before {
	box-shadow:inset rgba(0,0,0,.1) .15em .1em .15em;
}
.C9ControlBar.bottom .rightArrow.active {
	box-shadow:inset rgba(0,0,0,.1) .2em .2em .2em;
}
.C9ControlBar.bottom .rightArrow.active:before {
	box-shadow:inset rgba(0,0,0,.1) .1em .15em .15em;
}
.C9ControlBar.bottom .leftArrow.active:before, .C9ControlBar.bottom .rightArrow.active:before {
	background-image:-webkit-linear-gradient(-45deg,rgb(195,195,195) 0%,rgb(183,183,183) 100%);
}*/
.C9ControlBar.bottom .grip {
	position:absolute;
	top:-1em;
	left:0;
	width:100%;
	height:1em;
}
.C9List {
	padding:0 1.2em;
}
.C9ListItem {
	display:block;
	height:4.5em;
	margin-top:-1px;
	border-style:solid;
	border-width:1px;
	border-color:rgba(0,0,0,0);
	border-top-color:rgba(0,0,0,.15);
	text-decoration:none;
	clear:left;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.C9List > .C9ListItem:first-child {
	margin-top:1px;
}
.C9ListItem > span, .C9ListItem > strong {
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:1.2em;
}
.C9ListItem > strong {
	margin-top:.4em;
	font-size:1.5em;
	font-weight:700;
}
.C9ListItem > span {
	margin-top:.2em;
}
.C9ListItem > strong:last-child {
	margin-top:0;
	line-height:3em;
}
.C9ListSeparator {
	display:block;
	clear:left;
	margin-top:-1px;
	height:1.6em;
	line-height:1.6em;
	border:1px solid rgb(255,126,0);
	border-width:0 0 2px 0;
	color:rgb(255,126,0);
	text-transform:uppercase;
	font-weight:700;
}
.C9ListSeparator + .C9ListItem, .C9ListItem:first-child {
	border-top-color:rgba(0,0,0,0);
	margin-top:0;
}
.C9ListItem.active {
	background-color:rgb(255,126,0);
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%);
	border-color:rgba(0,0,0,.25);
	color:#fff;
	text-shadow:rgba(0,0,0,.25) 0 -1px 0;
	box-shadow:inset rgba(255,255,255,.4) 0 1px 0;
	padding:0 .7em;
}
.C9ListItem.active + .C9ListItem {
	border-top-color:rgba(0,0,0,0);
}
.C9ListItem img {
	position:relative;
	top:-1px;
	left:-1px;
	display:block;
	width:4.5em;
	height:4.5em;
	margin:0 .7em 0 0;
	float:left;
}
.C9ListItem.active img {
	margin:0 .7em 0 -.7em;
}
.C9ProgressTrack {
	position:relative;
	width:100%;
	height:1em;
	border:1px solid rgba(0,0,0,.25);
	background-image:-webkit-linear-gradient(top,rgba(225,225,225,.9) 0%,rgba(240,240,240,.9) 100%);
	box-shadow:inset rgba(255,255,255,.5) 0 1px 0;
	border-radius:.5em;
}
.C9ProgressBar, .C9ProgressBarCapLeft, .C9ProgressBarCapRight {
	position:absolute;
	top:-1px;
	left:-1px;
	height:1em;
	border:1px solid rgba(0,0,0,.25);
	background-color:rgb(255,126,0);
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 100%);
	box-shadow:inset rgba(255,255,255,.4) 0 1px 0;
}
.C9ProgressBar {
	left:0px;
	width:1px;
	border-width:1px 0;
	-webkit-transform-origin:0 0;
}
.C9ProgressBarCapLeft {
	width:.5em;
	border-width:1px 0 1px 1px;
	border-radius:.5em 0 0 .5em;
}
.C9ProgressBarCapRight {
	width:.5em;
	border-width:1px 1px 1px 0;
	border-radius:0 .5em .5em 0;
}
/*.C9ProgressSlider {
	display:none;
}*/
.C9Switch {
	position:relative;
	font-size:.75em;
	height:2em;
	width:5.5em;
	float:right;
	border:1px solid rgba(0,0,0,.25);
	background-color:#bbb;
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(255,255,255,.3) 100%);
	border-radius:.15em;
}
.C9Switch span {
	display:block;
	position:absolute;
	top:-1px;
	margin:0;
	width:2.5em;
	height:2em;
	line-height:2em;
	text-align:center;
	text-indent:0;
	font-weight:400;
}
.C9Switch .off {
	right:-1px;
	color:rgba(0,0,0,.5);
	text-shadow:rgba(255,255,255,.5) 0 1px 0;
}
.C9Switch .on {
	left:-1px;
	color:rgba(255,255,255,.85);
	text-shadow:rgba(0,0,0,.25) 0 1px 0;
}
.C9SwitchKnob {
	position:absolute;
	top:-1px;
	left:-1px;
	height:2em;
	width:3em;
	border:1px solid rgba(0,0,0,.25);
	border-top-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	background-clip:content-box;
	background-origin:content-box;
	background-color:rgb(225,225,225);
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,0) 100%);
	border-radius:.15em;
}
.C9List .C9Switch {
	margin:.7em 0;
}
.C9RadioButton {
	position:relative;
	float:right;
	width:1em;
	height:1em;
	border:1px solid rgba(0,0,0,.25);
	background-color:rgb(222,222,222);
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(0,0,0,0) 100%);
	border-radius:.5em;
	box-shadow:inset rgba(255,255,255,.25) 0 1px 0;
}
.C9RadioButton.active {
	background-color:rgb(255,126,0);
}
.C9RadioButton.active:after {
	position:absolute;
	left:-1px;
	top:-1px;
	display:block;
	content:'';
	width:.5em;
	height:.5em;
	margin:.25em;
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:rgba(0,0,0,.25) 0 1px 0;
}
.C9List .C9RadioButton {
	margin:.95em .25em;
}
.C9TextInput {
	/*display:block;*/
	width:100%;
	border:1px solid rgba(0,0,0,.25);
	font-size:1em;
	line-height:1.5em;
	padding:.25em .5em;
	border-radius:.2em;
	-webkit-user-select:auto;
		}
.C9List .C9TextInput {
	margin:.95em .25em;
	margin-bottom:20em;
}
.C9AlertShadow {
	width:200%;
	height:200%;
	position:absolute;
	top:-50%;
	left:-50%;
	background-color:rgba(0,0,0,.7);
	opacity:0;
	-webkit-transform:translate3d(0,0,0)scale(.75);
}
.C9AlertWindow {
	position:absolute;
	top:30%;
	left:27%;
	width:46%;
	height:40%;
	background-color:rgb(245,245,245);
	overflow:hidden;
	padding:4.5em 0 4em 0;
	border-radius:.2em;
}
.C9AlertTitle {
	position:absolute;
	left:0;
	top:0;
	display:block;
	text-transform:none;
	border-top-width:0;
	font-size:1.5em;
	background-color:rgb(245,245,245);
	line-height:3em;
	width:100%;
	height:3em;
	margin:0;
	text-align:center;
	border-radius:.2em .2em 0 0;
}
.C9AlertWindow > .C9List {
	position:absolute;
	top:4.5em;
	left:0;
	width:100%;
}
.C9AlertBar {
	position:absolute;
	left:0;
	bottom:0;
	display:-webkit-flex;
	display:flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	height:4em;
	width:100%;
	background-image:-webkit-linear-gradient(top,rgb(242,242,242) 0%,rgb(205,205,205) 100%);
	border-top:1px solid rgba(0,0,0,.25);
	border-radius:0 0 .2em .2em;
}
.C9AlertBar button {
	display:block;
	-webkit-flex:1;
	flex:1;
	-webkit-box-flex:1;
	height:100%;
	margin:0;
	font-size:1em;
	font-weight:700;
	color:rgba(0,0,0,.85);
	border:1px solid rgba(0,0,0,.25);
	border-width:1px 1px 0 1px;
	background-origin:border-box;
	background-clip:border-box;
	border-top-color:rgba(255,255,255,.4);
	border-right-color:rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
}
.C9AlertBar button:first-child {
	border-left-color:rgba(0,0,0,0);
}
.C9AlertBar button.active {
	background-color:rgba(0,0,0,.25);
}
.C9AlertBar button.active + button {
	border-left-color:rgba(0,0,0,.48);
}
.C9AnalogClock {
	position:relative;
	width:1em;
	height:1em;
	font-size:3em;
	border-radius:.5em;
	border:.1em solid #777;
}
.C9AnalogClock .hour, .C9AnalogClock .minute {
	position:absolute;
	border-radius:.05em;
}
.C9AnalogClock .hour {
	width:.25em;
}
.C9AnalogClock .minute {
	width:.35em;
}
.C9LoadingIndicator {
	position:relative;
	width:1em;
	height:1em;
	font-size:3em;
	overflow:hidden;
}
.C9LoadingDot {
	position:absolute;
	background-color:#777;
	width:.25em;
	height:.25em;
	-webkit-border-radius:.125em;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:1000ms;
}
.C9LoadingDot.left {
	-webkit-transform:translate( 0em, .375em );
	-webkit-animation-name:leftLoadingDot;
}
@-webkit-keyframes leftLoadingDot {
	0% { -webkit-transform:translate( 0em, .375em ); }
	25% { -webkit-transform:translate( .375em, 0em ); }
	50% { -webkit-transform:translate( .75em, .375em ); }
	75% { -webkit-transform:translate( .375em, .75em ); }
	100% { -webkit-transform:translate( 0em, .375em ); }
}
.C9LoadingDot.top {
	-webkit-transform:translate( .375em, 0em );
	-webkit-animation-name:topLoadingDot;
}
@-webkit-keyframes topLoadingDot {
	0% { -webkit-transform:translate( .375em, 0em ); }
	25% { -webkit-transform:translate( .375em, .75em ); }
	50% { -webkit-transform:translate( .375em, .75em ); }
	75% { -webkit-transform:translate( .375em, 0em ); }
	100% { -webkit-transform:translate( .375em, 0em ); }
}
.C9LoadingDot.right {
	-webkit-transform:translate( .75em, .375em );
	-webkit-animation-name:rightLoadingDot;
}
@-webkit-keyframes rightLoadingDot {
	0% { -webkit-transform:translate( .75em, .375em ); }
	25% { -webkit-transform:translate( .75em, .375em ); }
	50% { -webkit-transform:translate( 0em, .375em ); }
	75% { -webkit-transform:translate( 0em, .375em ); }
	100% { -webkit-transform:translate( .75em, .375em ); }
}
.C9TileView {
	position:relative;
}
.C9TileBar {
	width:100%;
	min-height:1.8em;
	color:rgb(30,30,30);
	background-color:#fff;
	position:relative;
	overflow:hidden;
	border-bottom:1px solid rgba(0,0,0,.15);
	border-radius:0 0 .2em .2em;
}
.C9TileBar {
	display:block;
	padding:.3em .4em;
}
.C9TileBar > span {
	padding:0;
	line-height:1.2em;
}
.C9TileBar.simple > .date {
	float:right;
	margin:.1em 0 .1em .2em;
	color:rgb(140,140,140);
}
.C9TileMeta {
	display:-webkit-flex;
	display:-webkit-flexbox;
	/*display:flex;
	display:-webkit-box;*/
	position:absolute;
	width:100%;
	font-size:1.6em;
	height:1.7em;
	line-height:2.2em;
	padding:0 .4em;
	bottom:0px;
	left:0px;
	background-image:-webkit-linear-gradient( top, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 30%, rgba(255,255,255,.7) 50%, rgba(255,255,255,.9) 75%, rgba(255,255,255,1) 100% );
}
.C9TileMeta > span {
	display:inline-block;
}
.C9TileMeta > .source {
	-webkit-flex:1;
	/*flex:1;
	-webkit-box-flex:1;*/
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.C9TileMeta > .date {
	/*-webkit-flex:0;
	flex:0;*/
	-webkit-box-flex:0;
	margin-left:.2em;
}
/*.C9Tile:before, .C9Tile:after {
	position:absolute;
	top:80%;
	bottom:2px;
	width:48%;
	max-width:350px;
	content:"";
	z-index:-1;
	box-shadow:rgba(0,0,0,.2) 0 9px 10px;
}
.C9Tile:before {
	transform:rotate(-2.4deg);
	left:2%;
}
.C9Tile:after {
	transform:rotate(2.4deg);
	right:2%;
}*/
.C9TileContent {
	position:relative;
	display:block;
	width:100%;
	min-height:2em;
	max-height:100%;
	overflow:hidden;
	background-color:#fff;
	font-size:.5em;
	border-radius:.2em .2em 0 0;
}
.C9Tile {
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	border-radius:.2em;
}
.C9Tile.C9TileContent {
	border-bottom:1px solid rgba(0,0,0,.15);
}
div.C9TileContent {
	padding:1em;
	background-color:#fff;
}
.C9TileContent img {
	max-width:100%;
	height:auto;
}
.C9TileContent > *:first-child {
	margin-top:0px;
}
.C9TileContent > *:last-child {
	margin-bottom:0px;
}
.C9TileContent ul, .C9TileContent ol {
	padding-left:2em;
}
.C9TileContent blockquote {
	margin:1em 1em;
}
.C9Tile .C9FoldableElement {
	padding:0px;
	font-size:1em;
	background-color:rgba(0,0,0,0);
}
.C9Tile .C9FoldableUpper, .C9Tile .C9FoldableLower {
	padding:0 .5em;
	background-color:#fff;
}
.C9FoldableElement {
	position:relative;
	overflow:hidden;
	-webkit-transform-style:preserve-3d;
	-webkit-perspective:1000px;
	-webkit-perspective-origin:50% 20px;
}
.C9FoldableUpper,.C9FoldableLower {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:100%;
	background-color:#fff;
	background-repeat:no-repeat;
	-webkit-backface-visibility:hidden;
}
.C9FoldableUpper {
				background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));
		background-position:0px 0px;
			-webkit-transform-origin:0 0;
}
.C9FoldableLower {
				background-image:-webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));
		background-size:100% 50%;
		background-position:0px 50%;
			-webkit-transform-origin:0 100%;
}
.C9ScrollbarX, .C9ScrollbarY {
	position:absolute;
	overflow:hidden;
	background-color:rgba(0,0,0,.3);
	-webkit-transform-origin:0 0;
}
.C9ScrollbarX {
	left:.2em;
	bottom:.2em;
	height:0.325em;
	width:1px;
}
.C9ScrollbarY {
	top:.25em;
	right:.25em;
	width:.25em;
	height:1px;
}
#cache {
	display:none;
}
#launcher {
	position:absolute;
	left:0;
	top:0;
	width:5em;
	height:100%;
	border-right:1px solid rgba(0,0,0,.25);
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,.6) 0%, rgba(0,0,0,.6) 70%, rgba(0,0,0,.7) 100%);
	overflow:visible!important;
	z-index:3;
}
#launcher .C9ScrollbarY {
	background-color:rgba(255,255,255,.3);
	width:4px;
	right:2px;
}
.C9AppIcon {
	position:relative;
	display:block;
	height:6em;
	width:5em;
	padding:.4em .5em;
	line-height:1.2em;
	font-weight:700;
	text-align:center;
	color:#fff;
}
.C9AppIcon img{
	display:block;
	width:4em;
	height:4em;
}
#launcher .grip {
	position:absolute;
	top:0;
	right:-1.5em;
	width:1.5em;
	height:100%;
}
#homescreen {
	height: 100%;
	color:#fff;
	font-weight:300;
	text-shadow:rgba(0,0,0,.25) 0 1px 0;
}
.homescreenLabel {
	display:block;
	font-size:3em;
	line-height:1.6em;
}
#homescreenDateAndTime {
	line-height:0em;
	height:7.4em;
	text-align:center;
	padding-top:1.4em;
}
#homescreenClock {
	display:inline-block;
	vertical-align:top;
	-webkit-filter:drop-shadow(rgba(0,0,0,.25) 0 1px 0);
}
#homescreenDateContainer {
	display:inline-block;
	vertical-align:top;
	height:6em;
	text-align:left;
	margin:0 0 0 .8em;
}
#homescreenTime, #homescreenWeekday, #homescreenDate {
	font-size:1.8em;
	line-height:1em;
	margin:0;
}
#homescreenWeekday {
	line-height:1.33333333333em;
}
#homescreenFeed, #homescreen .C9AlertWindow {
	font-weight:400;
	text-shadow:none;
	color:#000;
}
#homescreenAppsContainer {
	width:20em;
	margin:0 auto;
}
#homescreenAppsContainer .C9AppIcon {
	display:inline-block;
}
#homescreen .C9List > .C9ListSeparator {
	color:#fff;
	border-bottom-color:#fff;
}
#homescreen .C9CarouselPage.C9List > .C9ListItem {
	border-top-color:rgba(0,0,0,.25);
}
#homescreen .C9CarouselPage > .C9List > .C9ListSeparator + *, #homescreen .C9CarouselPage.C9List > .C9ListSeparator + * {
	border-top:1px solid rgba(0,0,0,.25);
}
#homescreen .C9CarouselPage > .C9ScrollbarY, #homescreen .C9CarouselPage > .C9ScrollbarX {
	background-color:rgba(255,255,255,.7);
}
.photos .scroller {
	background-color:#ddd;
	width:100%;
	min-height:100%;
}
.photos .C9LoadingIndicator {
	position:absolute;
	top:50%;
	left:50%;
	margin:-.5em 0 0 -.5em;
}
.photos .C9Tile {
	z-index:1;
}
.music .C9CarouselView {
	padding:4em 0 2em 0;
}
.music .C9CarouselPage {
	min-height:100%;
}
.music .C9ControlBar.bottom {
	padding:0px;
	border-width:0px;
	box-shadow:none!important;
}
.music .prev svg, .music .playPause svg, .music .next svg {
	width:1.5em;
	height:1.5em;
	margin:.7em 0;
}
.music .controls {
	position:absolute;
	bottom:.45em;
	left:50%;
	margin-left:-8.55em;
}
.music .C9ControlBar.bottom button {
	padding:0 1.75em;
}
.music .C9ControlBar.bottom .C9ProgressTrack {
	position:absolute;
	top:-2em;
	left:0px;
	height:2em;
	border-width:0px;
	border-color:rgba(0,0,0,.5);
	background-clip:content-box;
	background-origin:content-box;
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.3) 0%,rgba(255,255,255,0) 100%);
	border-radius:0;
}
.music .C9ProgressBar, .music .C9ProgressBarCapLeft, .music .C9ProgressBarCapRight {
	top:0px;
	height:2em;
}
.music .C9ProgressBar {
	display:none;
	overflow:hidden;
}
.music .C9ProgressBarCapLeft, .music .C9ProgressBarCapRight {
	width:1px;
	border-radius:0;
}
.music .nowPlaying {
	display:block;
	position:absolute;
	top:.4em;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:0em .6em;
	line-height:1.1em;
	height:1.2em;
	background-color:rgba(0,0,0,.3);
	color:rgba(255,255,255,.9);
	text-shadow:rgba(0,0,0,.2) 0px 1px 0px;
	border-radius:.6em;
}
.music .C9CarouselPage > .C9LoadingIndicator {
	position:absolute;
	top:50%;
	left:50%;
	margin:-.5em 0em 0em -.5em;
}
.music .controls .C9LoadingIndicator {
	margin:0 auto;
}
.music .albumArt {
	border-style:solid;
	border-width:1px 1px 0px 1px;
	border-color:rgba(0,0,0,.5);
	margin:-2em auto 0px auto;
	width:100%;
}
.videos {
	background-color:#777;
}
.videos video {
	-webkit-transform-origin:0px 0px;
	object-fit:none;
}
.reader .C9AppView {
	padding-top:4em;
}
.reader .C9Carousel {
	background-color:#ddd;
	width:100%;
	min-height:100%;
}
.reader .C9LoadingIndicator {
	position:absolute;
	top:50%;
	left:50%;
	margin:-.5em 0 0 -.5em;
}
.mail .scroller {
	background:#fff;
	min-height:100%;
	margin-bottom:-1px;
}
.mail .scroller .C9LoadingIndicator {
	position:absolute;
	top:50%;
	left:50%;
	margin:-.5em 0em 0em -.5em;
}
.mail .refresh {
	float:right;
}